# Telephone — Custom GPT Action schema
#
# ChatGPT's GPT builder enforces a 300-character limit on operation
# descriptions, so the design rationale lives in these YAML comments rather than
# in the document. Comments are not part of the parsed schema and cost nothing
# against the UI limits.
#
# WHY THIS EXISTS
#   The standard ChatGPT GitHub connector is READ-ONLY: repository writes return
#   HTTP 403 (tested twice). It can inspect Telephone but cannot submit a
#   request, so it cannot operate Telephone. This action is the only browser
#   write path.
#
# BLAST RADIUS
#   Five operations and nothing else. Exactly one write, create-only, into
#   projects/brittle/browser_requests/. There is deliberately:
#     - no generic path parameter anywhere;
#     - no generic file write;
#     - no way to write a canonical bus message;
#     - no issue, pull-request, workflow, dispatch, hook, collaborator, git-ref
#       or git-blob operation;
#     - no shell;
#     - no owner-decision path (resolve_escalation is refused by the bridge).
#
#   Four of the five operations read fixed constant paths. The two that take
#   input accept only anchored ID patterns and a two-value lane enum, so no
#   input can traverse out of its directory.
#
# PROPOSALS, NOT MESSAGES
#   A submitted file is a proposal. It is not a canonical bus message and it
#   authorizes nothing. The workstation bridge validates it and either publishes
#   canonical messages exactly as submitted -- ticket markdown byte-for-byte --
#   or refuses it with a published reason. The bridge runs no language model.
#
# THE sha FIELD
#   Omit it. There is no update path, so GitHub rejects a duplicate request ID
#   (422) rather than overwriting an existing request.
#
# Setup, token scope and testing: actions/TELEPHONE_GPT_SETUP.md

openapi: 3.1.0

info:
  title: Telephone
  description: >-
    Narrow transport for browser-native Telephone on digitalnomadjoe/messages.
    The standard ChatGPT GitHub connector is read-only, so this action is the
    only browser write path. Five operations; exactly one create-only write,
    under projects/brittle/browser_requests/.
  version: 1.2.0

servers:
  - url: https://api.github.com

paths:

  # ---------------------------------------------------------------- read ----
  /repos/digitalnomadjoe/messages/contents/projects/brittle/state/telephone_instructions.md:
    get:
      operationId: getTelephoneInstructions
      summary: Read the combined Telephone operating instructions.
      description: >-
        Read the canonical Telephone guides, merged into one generated file.
        Call this before anything else and follow what it says. Fixed path, no
        parameters.
      responses:
        "200":
          description: Combined instructions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileContent"
        "404":
          description: Not generated yet. Ask Joe to run the local sync command.

  /repos/digitalnomadjoe/messages/contents/projects/brittle/state/browser_status.json:
    get:
      operationId: getTelephoneStatus
      summary: Read Telephone status and workstation readiness.
      description: >-
        Read the sanitized status cache. Call this first and on every poll. If
        browser_telephone_ready is false, submit nothing: relay
        required_local_actions to Joe verbatim, then re-check. Fixed path, no
        parameters.
      responses:
        "200":
          description: Status cache.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileContent"

  /repos/digitalnomadjoe/messages/contents/projects/brittle/reports/{lane}/{reportId}.md:
    get:
      operationId: getTelephoneReport
      summary: Read one report from a validated lane path.
      description: >-
        Read a single mirrored report. The lane is a two-value enum and the
        report ID is pattern-constrained, so no other file can be addressed.
      parameters:
        - name: lane
          in: path
          required: true
          description: Lane the report belongs to.
          schema:
            type: string
            enum: [locomotion, control]
        - name: reportId
          in: path
          required: true
          description: Canonical report message ID.
          schema:
            type: string
            pattern: "^BRITTLE-[0-9]{8}T[0-9]{6}Z-[0-9a-f]{8}$"
      responses:
        "200":
          description: The report.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileContent"
        "404":
          description: No such report on that lane.

  /repos/digitalnomadjoe/messages/contents/projects/brittle/state/browser_results/{requestId}.json:
    get:
      operationId: getTelephoneRequestResult
      summary: Get the result for one submitted request.
      description: >-
        Get the bridge's accepted or refused decision for a request you
        submitted. A 404 means it has not been processed yet, so poll again;
        the bridge runs about every 20 seconds.
      parameters:
        - name: requestId
          in: path
          required: true
          description: The request ID you submitted.
          schema:
            type: string
            pattern: "^BREQ-[0-9]{8}T[0-9]{6}Z-[0-9a-f]{8}$"
      responses:
        "200":
          description: Decision for this request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileContent"
        "404":
          description: Not decided yet. Poll again.

  # --------------------------------------------------------------- write ----
  /repos/digitalnomadjoe/messages/contents/projects/brittle/browser_requests/{requestId}.json:
    put:
      operationId: submitTelephoneRequest
      summary: Submit exactly one Telephone request.
      description: >-
        Create one request file under projects/brittle/browser_requests/. This
        is the only write available. The file is a proposal: it is not a
        canonical message and authorizes nothing. The bridge validates it, then
        publishes exactly what was submitted or refuses it with a reason.
      parameters:
        - name: requestId
          in: path
          required: true
          description: Request ID. Must equal the request_id inside the file.
          schema:
            type: string
            pattern: "^BREQ-[0-9]{8}T[0-9]{6}Z-[0-9a-f]{8}$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFile"
      responses:
        "201":
          description: Submitted. Poll getTelephoneRequestResult.
        "422":
          description: That request ID already exists. Mint a new one.

components:
  securitySchemes:
    githubFineGrainedToken:
      type: http
      scheme: bearer
      description: >-
        Fine-grained GitHub token scoped to digitalnomadjoe/messages with
        Contents read/write only and a short expiration. Stored only as the
        private GPT Action API key; never committed, logged, echoed, or passed
        as a parameter.

  schemas:
    FileContent:
      type: object
      description: GitHub Contents API response. The content field is base64.
      properties:
        name: { type: string }
        path: { type: string }
        sha: { type: string }
        size: { type: integer }
        encoding: { type: string }
        content:
          type: string
          description: Base64-encoded file content. Decode before reading.
      required: [path, content]

    CreateFile:
      type: object
      description: >-
        New-file body for the GitHub Contents API. Omit sha: there is no update
        path, so a duplicate request ID is rejected rather than overwritten.
      required: [message, content]
      properties:
        message:
          type: string
          maxLength: 200
          description: Commit message, for example "telephone submit BREQ-...".
        content:
          type: string
          description: >-
            Base64-encoded JSON request body. Include request_id, kind, project,
            submitted_by, created_at, lane, unit, idempotency_key and rationale,
            plus the fields the chosen kind requires. Ticket markdown is
            published byte-for-byte.

security:
  - githubFineGrainedToken: []
